<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232170584396-611p5b34e4d5mqn91pqmq98m82m5j0uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232170584396-611p5b34e4d5mqn91pqmq98m82m5j0uh</string>
	<key>API_KEY</key>
	<string>AIzaSyCKghV9yVjYbGQtY0avuL5zaT-UA-rtY8U</string>
	<key>GCM_SENDER_ID</key>
	<string>232170584396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Elizabeth-Luu.ChapMan</string>
	<key>PROJECT_ID</key>
	<string>chapman-3db8c</string>
	<key>STORAGE_BUCKET</key>
	<string>chapman-3db8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232170584396:ios:7f324bc251be8eef9937e9</string>
	<key>DATABASE_URL</key>
	<string>https://chapman-3db8c.firebaseio.com</string>
</dict>
</plist>